# macOS
.DS_Store

# Xcode 사용자별 설정
xcuserdata/
xcshareddata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# 빌드 결과물
build/
DerivedData/

# 인증서/키
*.p12
*.p8
*.cer
*.mobileprovision

# SPM 캐시
.build/

Develop.xcconfig
ZupZup/Develop.xcconfig

# Reality Composer Pro 사용자별 설정
*.rcuserdata
PluginData/
